{
  "log": "log/server.log",
  "readLogFreq": 10000,
  "aleforgeSftpConnectConfig": {
    "host": "xxx.aleforge.net",
    "port": 9999,
    "username": "sftpUser",
    "password": "sftpPassword"
  },
  "gmtHourDifference": 0,
  "playersJson": "/home/vhserver/players.json",
  "freq": 5000,
  "serverName": "Valheim Server",
  "port": 3000
}
